.nav {
    height: 50px;
    background: #06b8ff;
}

.nav div {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav ul {
    position: absolute;
    right: 5px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    color: white;
    padding: 5px;
}

.services .icon-main {
    text-align: center;
    transition-property: all;
    transition-duration: 2s;
    transition: ease-in-out;
    transition-delay: 4s;
    box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.3);
}

.services .sd {
    position: relative;
    padding: 80px 20px;
}

.services .smp {
    position: static;
    padding: 80px 20px;
}

.services .sma {
    position: static;
    padding: 80px 20px;
}

.icon-main a {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 26px;
    color: black;
}

.icon-main p {
    line-height: 15px;
    font-size: 15px;
    margin-bottom: 0;
}

.services .icon-main :hover {
    background: #06b8ff;
    border-color: #03d9f5;
}