.nav {
    height: 50px;
    background: #0c5470;
}

.nav div {
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.nav ul {
    position: absolute;
    right: 5px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    color: white;
    padding: 5px;
}

body {
    margin-bottom: 0px;
    padding: 0px;
    background-image: url(bground.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100vh;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.tulisan_login {
    text-align: center;
    text-transform: uppercase;
}


.kotak_login {
    width: 290px;
    height: 500px;
    background: rgba(0, 0, 0, 0.650);
    color:#fff;
    margin: 50px auto;
    padding: 50px 10px;
}

.admin{
    width: 95px;
    height: 95px;
    position: absolute;
    top: 75px;
    Left: calc(50% - 45px);
}


label {
    font-size: 11pt;
}

.form_login {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: 11pt;
    margin-bottom: 20px;
}

.tombol_login {
    background: #46de4b;
    color: white;
    font-size: 11pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}

.services .icon-main {
    text-align: center;
    transition-property: all;
    transition-duration: 2s;
    transition: ease-in-out;
    transition-delay: 4s;
    box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.599);
}

.services .sd {
    position: relative;
    padding: 80px 20px;
}

.services .smp {
    position: static;
    padding: 80px 20px;
}

.services .sma {
    position: static;
    padding: 80px 20px;
}

.icon-main a {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 26px;
    color: black;
}

.icon-main p {
    line-height: 15px;
    font-size: 15px;
    margin-bottom: 0;
}

.services .icon-main :hover {
    background: #06b8ff;
    border-color: #03d9f5;
}
.kotak_signup {
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: left;
    width: 300px;
    background: rgba(0, 0, 0, 0.650);
    color:#fff;
    margin: 50px auto;
    padding: 50px 10px;
}


.createdby {
    font-family: "Georgia";
    font-size: 10pt;
    margin-top: 16px;
    text-align: left;
    width: 463px;
    background: white;
    margin: 80px auto;
    padding: 30px 20px;
}

